body {
    font-family: 'Poppins', sans-serif;
}

/* TYPOGRAPHY */
h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #050931;
}
h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #050931;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    color: #131848;
    line-height: 30px;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8F91A2;
    padding: 0;
}
.p-light {
    font-weight: 300;
    color: #EAEBF5;
}

/* SPACING */
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.p-0 {
    padding: 0 !important;
}
.color-white {
    color: #fff;
}

/* NAVBAR */
.navbar {
    background: #ecf1f4 !important;
    padding: 15px 0;
}
.navbar .nav-item {
    margin: 0 !important;
    padding: 0 !important;
}
.navbar .nav-item .nav-link {
    font-size: 15px;
    font-weight: 400;
    color: #636972;
    margin: 0 20px;
    padding: 0;
    transition: all .4s ease-in-out;
}
.navbar .nav-item .nav-link:hover {
    color: #55BC7E;
}
.navbar .main-btn {
    background: #55BC7E;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 45px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 25px;
    transition: all .4s ease-in-out;
}
.navbar .main-btn:hover {
    background: #49a16c;
    color: #fff;
}

/* HERO */
.hero {
    height: 90vh;
    background: #ecf1f4;
    position: relative;
}
.hero .dots {
    position: absolute;
    left: 0;
    bottom: 0;
}
.hero span {
    background: #D3E8E1;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 30px;
    color: #4E6570;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-control {
    padding: 18px 20px;
    outline: 0;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    color: #b5bac0;
    font-weight: 300;
}
.form-btn {
    background: #55BC7E;
    height: 100%;
    width: 100%;
    color: #fff;
    border-radius: 0 5px 5px 0;
    transition: all .4s ease-in-out;
}
.form-btn:hover {
    background: #49a16c;
    color: #fff;
}
.form-shadow {
    box-shadow: 0px 10px 25px 0px rgba(70, 85, 103, 0.08);
    margin-top: 25px;
}
.hero .hero-img {
    width: 70%;
}

/* ABOUT */
.about {
    padding: 100px 0;
}
.about .about-box {
    text-align: center;
    padding: 0 40px;
}
.more-btn {
    font-size: 16px;
    font-weight: 600;
    color: #373b61;
    text-decoration: none;
    display: inline-block;
    transition: all .4s ease-in-out;
}
.more-btn:hover {
    color: #49a16c;
}
/* ON */
.on {
    background: #ECF1F4;
    padding: 100px 0;
}


/* SUBSCRIBE */
.subscribe {
    text-align: center;
    padding: 100px 0;
    background: #344763;
}

/* FOOTER */
.footer {
    padding: 20px 0;
    background: #344763;
    text-align: center;
}